@import "tailwindcss";
@import "./theme.css";

html {
  scroll-behavior: smooth;
}

body {
  font-family: Geist, sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

details summary::-webkit-details-marker {
  display: none;
}

.perspective-lg {
  perspective: 1000px;
}

.hover-lift {
  transition: all .3s ease;
}

.hover-lift:hover {
  transform: translateY(-6px);
}
